<div class="titulo">
  <i class="bi bi-arrow-right"></i>
  <h3>{{ titulo }}</h3>
</div>

<section class="section">
  <h4>PS5</h4>
  <section class="section-grid">
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1577741314755-048d8525d31e?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Juego 1</p>
    </div>
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1577741314755-048d8525d31e?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Juego 1</p>
    </div>
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1577741314755-048d8525d31e?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Juego 1</p>
    </div>
  </section>
</section>
<section class="section">
  <h4>Xbox One</h4>
  <section class="section-grid">
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1577741314755-048d8525d31e?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Juego 1</p>
    </div>
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1577741314755-048d8525d31e?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Juego 1</p>
    </div>
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1577741314755-048d8525d31e?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Juego 1</p>
    </div>
  </section>
</section>
<section class="section">
  <h4>Nintendo Switch</h4>
  <section class="section-grid">
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1577741314755-048d8525d31e?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Juego 1</p>
    </div>
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1577741314755-048d8525d31e?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Juego 1</p>
    </div>
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1577741314755-048d8525d31e?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Juego 1</p>
    </div>
  </section>
</section>
<section class="section">
  <h4>PC Master Race</h4>
  <section class="section-grid">
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1577741314755-048d8525d31e?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Juego 1</p>
    </div>
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1577741314755-048d8525d31e?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Juego 1</p>
    </div>
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1577741314755-048d8525d31e?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Juego 1</p>
    </div>
  </section>
</section>
