<main>
<div class="titulo">
  <i class="bi bi-arrow-right"></i>
  <h3>{{ titulo }}</h3>
</div>

<section class="section">
  <h4>Ps5</h4>
  <section class="section-grid">
    <div *ngFor="let item of ps5" class="item">
      <div class="imagen-container">
        <a href="/ps5"> <img src="{{ item.image }}" alt="{{ item.name }}" /></a>
      </div>
      <p>{{ item.name }}</p>
    </div>
  </section>
</section>

<section class="section">
  <h4>Xbox</h4>
  <section class="section-grid">
    <div *ngFor="let item of xbox" class="item">
      <div class="imagen-container">
        <a href="/ps5"> <img src="{{ item.image }}" alt="{{ item.name }}" /></a>
      </div>
      <p>{{ item.name }}</p>
    </div>
  </section>
</section>
<section class="section">
  <h4>Nintendo</h4>
  <section class="section-grid">
    <div *ngFor="let item of nintendo" class="item">
      <div class="imagen-container">
        <a href="/ps5"> <img src="{{ item.image }}" alt="{{ item.name }}" /></a>
      </div>
      <p>{{ item.name }}</p>
    </div>
  </section>
</section>
<section class="section">
  <h4>Pc Master Race</h4>
  <section class="section-grid">
    <div *ngFor="let item of pcMasterRace" class="item">
      <div class="imagen-container">
        <a href="/ps5"> <img src="{{ item.image }}" alt="{{ item.name }}" /></a>
      </div>
      <p>{{ item.name }}</p>
    </div>
  </section>
</section>
</main>