<div class="titulo">
  <i class="bi bi-arrow-right"></i>
  <h3>{{ titulo }}</h3>
</div>

<section class="section">
  <h4>PS5</h4>
  <section class="section-grid">
    <div *ngFor="let item of ps5" class="item">
      <div class="imagen-container">
        <a href="/playstation"
          ><img src="{{ item.image }}" alt="{{ item.name }}"
        /></a>
      </div>
      <p>{{ item.name }}</p>
    </div>
  </section>
</section>

<section class="section">
  <h4>Xbox One</h4>
  <section class="section-grid">
    <div *ngFor="let item of xbox" class="item">
      <div class="imagen-container">
        <a href="/playstation"
          ><img src="{{ item.image }}" alt="{{ item.name }}"
        /></a>
      </div>
      <p>{{ item.name }}</p>
    </div>
  </section>
</section>

<section class="section">
  <h4>Nintendo Switch</h4>
  <section class="section-grid">
    <div *ngFor="let item of nintendo" class="item">
      <div class="imagen-container">
        <a href="/playstation"
          ><img src="{{ item.image }}" alt="{{ item.name }}"
        /></a>
      </div>
      <p>{{ item.name }}</p>
    </div>
  </section>
</section>

<section class="section">
  <h4>Retro</h4>
  <section class="section-grid">
    <div *ngFor="let item of retro" class="item">
      <div class="imagen-container">
        <a href="/playstation"
          ><img src="{{ item.image }}" alt="{{ item.name }}"
        /></a>
      </div>
      <p>{{ item.name }}</p>
    </div>
  </section>
</section>
