<div class="titulo">
  <i class="bi bi-arrow-right"></i>
  <h3>{{ titulo }}</h3>
</div>

<section class="section">
  <h4>SmartPhones</h4>
  <section class="section-grid">
    <div *ngFor="let phone of smartPhone" class="item">
      <div class="imagen-container">
        <img src="{{ phone.image }}" alt="{{ phone.name }}" />
      </div>
      <p>{{ phone.name }}</p>
    </div>
  </section>
</section>

<section class="section">
  <h4>Tablets</h4>
  <section class="section-grid">
    <div *ngFor="let tablet of Tablets" class="item">
      <div class="imagen-container">
        <img src="{{ tablet.image }}" alt="{{ tablet.name }}" />
      </div>
      <p>{{ tablet.name }}</p>
    </div>
  </section>
</section>

<section class="section">
  <h4>Relojes</h4>
  <section class="section-grid">
    <div *ngFor="let watch of Relojes" class="item">
      <div class="imagen-container">
        <img src="{{ watch.image }}" alt="{{ watch.name }}" />
      </div>
      <p>{{ watch.name }}</p>
    </div>
  </section>
</section>

<section class="section">
  <h4>Auriculares</h4>
  <section class="section-grid">
    <div *ngFor="let buds of Auriculares" class="item">
      <div class="imagen-container">
        <img src="{{ buds.image }}" alt="{{ buds.name }}" />
      </div>
      <p>{{ buds.name }}</p>
    </div>
  </section>
</section>

<section class="section">
  <h4>Drones</h4>
  <section class="section-grid">
    <div *ngFor="let dron of Drones" class="item">
      <div class="imagen-container">
        <img src="{{ dron.image }}" alt="{{ dron.name }}" />
      </div>
      <p>{{ dron.name }}</p>
    </div>
  </section>
</section>
