<div class="titulo">
  <i class="bi bi-arrow-right"></i>
  <h3>{{ titulo }}</h3>
</div>

<section class="section">
  <h4>Sobremesa</h4>
  <section class="section-grid">
    <div *ngFor="let item of SobreMesa" class="item">
      <div class="imagen-container">
        <a href="/sobremesa">
          <img src="{{ item.image }}" alt="{{ item.name }}"
        /></a>
      </div>
      <p>{{ item.name }}</p>
    </div>
  </section>
</section>
<section class="section">
  <h4>Portatiles</h4>
  <section class="section-grid">
    <div *ngFor="let item of Portatiles" class="item">
      <div class="imagen-container">
        <a href="/sobremesa">
          <img src="{{ item.image }}" alt="{{ item.name }}"
        /></a>
      </div>
      <p>{{ item.name }}</p>
    </div>
  </section>
</section>
<section class="section">
  <h4>Sillas gaming</h4>
  <section class="section-grid">
    <div *ngFor="let item of SillaGaming" class="item">
      <div class="imagen-container">
        <a href="/sobremesa">
          <img src="{{ item.image }}" alt="{{ item.name }}"
        /></a>
      </div>
      <p>{{ item.name }}</p>
    </div>
  </section>
</section>
<section class="section">
  <h4>Monitores</h4>
  <section class="section-grid">
    <div *ngFor="let item of Monitores" class="item">
      <div class="imagen-container">
        <a href="/sobremesa">
          <img src="{{ item.image }}" alt="{{ item.name }}"
        /></a>
      </div>
      <p>{{ item.name }}</p>
    </div>
  </section>
</section>
<section class="section">
  <h4>Teclados</h4>
  <section class="section-grid">
    <div *ngFor="let item of Teclados" class="item">
      <div class="imagen-container">
        <a href="/sobremesa">
          <img src="{{ item.image }}" alt="{{ item.name }}"
        /></a>
      </div>
      <p>{{ item.name }}</p>
    </div>
  </section>
</section>
<section class="section">
  <h4>Ratones</h4>
  <section class="section-grid">
    <div *ngFor="let item of Ratones" class="item">
      <div class="imagen-container">
        <a href="/sobremesa">
          <img src="{{ item.image }}" alt="{{ item.name }}"
        /></a>
      </div>
      <p>{{ item.name }}</p>
    </div>
  </section>
</section>
<section class="section">
  <h4>Microfonos</h4>
  <section class="section-grid">
    <div *ngFor="let item of Microfonos" class="item">
      <div class="imagen-container">
        <a href="/sobremesa">
          <img src="{{ item.image }}" alt="{{ item.name }}"
        /></a>
      </div>
      <p>{{ item.name }}</p>
    </div>
  </section>
</section>
