<div class="titulo">
  <i class="bi bi-arrow-right"></i>
  <h3>{{ titulo }}</h3>
</div>

<section class="section">
  <h4>Sobremesa</h4>
  <section class="section-grid">
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1597872200969-2b65d56bd16b?q=80&w=1635&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Componentes</p>
    </div>
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1527443195645-1133f7f28990?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Mac sobremesa 🤮</p>
    </div>
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1542729716-6d1890d980ee?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Pc gaming verde</p>
    </div>
  </section>
</section>
<section class="section">
  <h4>Portatiles</h4>
  <section class="section-grid">
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853?q=80&w=1742&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Portatil Mac 🤮</p>
    </div>
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1611078489935-0cb964de46d6?q=80&w=1674&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Portatil gaming</p>
    </div>
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1606625000171-fa7d471da28c?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Torre de portatiles</p>
    </div>
  </section>
</section>
<section class="section">
  <h4>Sillas gaming</h4>
  <section class="section-grid">
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1619725002198-6a689b72f41d?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Silla gamer</p>
    </div>
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1598550473359-433795503a0f?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Silla mas gamer aun</p>
    </div>
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1628358011851-c85d8fa59557?q=80&w=1688&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Silla ergonómica</p>
    </div>
  </section>
</section>
<section class="section">
  <h4>Monitores</h4>
  <section class="section-grid">
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1555940280-66bf87aa823d?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Pantalla calibrada</p>
    </div>
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1563019589-7e7db5152430?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Pantalla IPS</p>
    </div>
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1593640408182-31c70c8268f5?q=80&w=1684&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Pantalla baja latencia</p>
    </div>
  </section>
</section>
<section class="section">
  <h4>Teclados</h4>
  <section class="section-grid">
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1712396901531-605f06a423aa?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Teclado Mecánico con cable</p>
    </div>
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1705488387173-b3e4890259ab?q=80&w=1635&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Teclado mecánico wireless</p>
    </div>
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://plus.unsplash.com/premium_photo-1685312182226-20af33367686?q=80&w=1863&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Teclado mecánico custom</p>
    </div>
  </section>
</section>
<section class="section">
  <h4>Ratones</h4>
  <section class="section-grid">
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1597872200969-2b65d56bd16b?q=80&w=1635&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Componentes</p>
    </div>
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1527443195645-1133f7f28990?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Mac sobremesa 🤮</p>
    </div>
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1542729716-6d1890d980ee?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Pc gaming verde</p>
    </div>
  </section>
</section>
<section class="section">
  <h4>Microfonos</h4>
  <section class="section-grid">
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1597872200969-2b65d56bd16b?q=80&w=1635&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Componentes</p>
    </div>
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1527443195645-1133f7f28990?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Mac sobremesa 🤮</p>
    </div>
    <div class="item">
      <div class="imagen-container">
        <img
          src="https://images.unsplash.com/photo-1542729716-6d1890d980ee?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="juego 1"
        />
      </div>
      <p>Pc gaming verde</p>
    </div>
  </section>
</section>
