<div class="titulo">
  <i class="bi bi-arrow-right"></i>
  <h3>{{ titulo }}</h3>
</div>

<section class="section">
  <h4>VideoJuegos</h4>
  <section class="section-grid videojuegos">
    <div class="item">
      <div class="imagen-container">
        <a href=""
          ><img
            src="https://cdn2.iconfinder.com/data/icons/logos-brands-5/2017/playstation-5-seeklogo.com-5-512.png"
            alt="juego 1"
        /></a>
      </div>
    </div>
    <div class="item">
      <div class="imagen-container">
        <a href=""
          ><img
            src="https://cdn0.iconfinder.com/data/icons/minimal-social-brand/24/Xbox-512.png"
            alt="xbox one"
        /></a>
      </div>
    </div>
    <div class="item">
      <div class="imagen-container">
        <a href=""
          ><img
            src="https://cdn2.iconfinder.com/data/icons/eon-device-hardware/32/nintendo_switch_games-512.png"
            alt="juego 1"
        /></a>
      </div>
    </div>
    <div class="item">
      <div class="imagen-container">
        <a href=""
          ><img
            src="https://cdn3.iconfinder.com/data/icons/electronics-121/64/desktop-pc-512.png"
            alt="juego 1"
        /></a>
      </div>
    </div>
  </section>
</section>
<section class="section">
  <h4>Consolas</h4>
  <section class="section-grid videojuegos">
    <div class="item">
      <div class="imagen-container">
        <a href=""
          ><img
            src="https://cdn1.iconfinder.com/data/icons/bootstrap-fill-vol-2/16/playstation-512.png"
            alt="PlayStation"
        /></a>
      </div>
    </div>
    <div class="item">
      <div class="imagen-container">
        <a href=""
          ><img
            src="https://cdn3.iconfinder.com/data/icons/font-awesome-brands/512/xbox-512.png"
            alt="Xbox"
        /></a>
      </div>
    </div>
    <div class="item">
      <div class="imagen-container">
        <a href=""
          ><img
            class="nintendo"
            src="../../../assets/7422365_nintendo_console_gaming_game_icon.png"
            alt="Nintendo"
        /></a>
      </div>
    </div>
    <div class="item">
      <div class="imagen-container">
        <a href=""
          ><img
            src="https://cdn2.iconfinder.com/data/icons/80-s-stuffs-outline/93/Asset_12-512.png"
            alt="Retro"
        /></a>
      </div>
    </div>
  </section>
</section>
<section class="section">
  <h4>PC</h4>
  <section class="section-grid videojuegos">
    <div class="item">
      <div class="imagen-container">
        <a href=""
          ><img src="../../../assets/img/icons/sobremesa.svg" alt="Sobremesas"
        /></a>
      </div>
    </div>
    <div class="item">
      <div class="imagen-container">
        <a href=""
          ><img src="../../../assets/img/icons/laptop.svg" alt="Portatiles"
        /></a>
      </div>
    </div>
    <div class="item">
      <div class="imagen-container">
        <a href=""
          ><img src="../../../assets/img/icons/sgaming.svg" alt="Sillas gamer"
        /></a>
      </div>
    </div>
    <div class="item">
      <div class="imagen-container">
        <a href=""
          ><img src="../../../assets/img/icons/monitores.svg" alt="Monitores"
        /></a>
      </div>
    </div>
    <div class="item">
      <div class="imagen-container">
        <a href=""
          ><img src="../../../assets/img/icons/keyboard.svg" alt="Teclados"
        /></a>
      </div>
    </div>
    <div class="item">
      <div class="imagen-container">
        <a href=""
          ><img src="../../../assets/img/icons/mouse.svg" alt="Ratones"
        /></a>
      </div>
    </div>
    <div class="item">
      <div class="imagen-container">
        <a href=""
          ><img src="../../../assets/img/icons/mic.svg" alt="Microfonos"
        /></a>
      </div>
    </div>
  </section>
</section>
