<div class="titulo">
  <i class="bi bi-arrow-right"></i>
  <h3>{{ titulo }}</h3>
</div>

<section class="section">
  <h4>VideoJuegos</h4>
  <section class="section-grid videojuegos">
    <div class="item">
      <div class="imagen-container">
        <a href="/ps5"
          ><img
            class="icono-grande"
            src="../../../assets/img/icons/playstation-5-svgrepo-com.svg"
            alt="juego 1"
        /></a>
      </div>
    </div>
    <div class="item">
      <div class="imagen-container">
        <a href="/ps5"
          ><img src="../../../assets/img/icons/xbox.svg" alt="xbox one"
        /></a>
      </div>
    </div>
    <div class="item">
      <div class="imagen-container">
        <a href="/ps5"
          ><img src="../../../assets/img/icons/nintendo.svg" alt="juego 1"
        /></a>
      </div>
    </div>
    <div class="item">
      <div class="imagen-container">
        <a href="/ps5"
          ><img src="../../../assets/img/icons/sobremesa.svg" alt="juego 1"
        /></a>
      </div>
    </div>
  </section>
</section>
<section class="section">
  <h4>Consolas</h4>
  <section class="section-grid videojuegos">
    <div class="item">
      <div class="imagen-container">
        <a href="/playstation"
          ><img
            src="../../../assets/img/icons/playstation.svg"
            alt="PlayStation"
        /></a>
      </div>
    </div>
    <div class="item">
      <div class="imagen-container">
        <a href="/playstation"
          ><img src="../../../assets/img/icons/xbox.svg" alt="Xbox"
        /></a>
      </div>
    </div>
    <div class="item">
      <div class="imagen-container">
        <a href="/playstation"
          ><img
            class="nintendo"
            src="../../../assets/img/icons/mario-kart-tour-svgrepo-com.svg"
            alt="Nintendo"
        /></a>
      </div>
    </div>
    <div class="item">
      <div class="imagen-container">
        <a href="/playstation"
          ><img src="../../../assets/img/icons/retro.svg" alt="Retro"
        /></a>
      </div>
    </div>
  </section>
</section>
<section class="section">
  <h4>PC</h4>
  <section class="section-grid videojuegos">
    <div class="item">
      <div class="imagen-container">
        <a href="/sobremesa"
          ><img src="../../../assets/img/icons/sobremesa.svg" alt="Sobremesas"
        /></a>
      </div>
    </div>
    <div class="item">
      <div class="imagen-container">
        <a href="/sobremesa"
          ><img src="../../../assets/img/icons/laptop.svg" alt="Portatiles"
        /></a>
      </div>
    </div>
    <div class="item">
      <div class="imagen-container">
        <a href="/sobremesa"
          ><img src="../../../assets/img/icons/sgaming.svg" alt="Sillas gamer"
        /></a>
      </div>
    </div>
    <div class="item">
      <div class="imagen-container">
        <a href="/sobremesa"
          ><img src="../../../assets/img/icons/monitores.svg" alt="Monitores"
        /></a>
      </div>
    </div>
    <div class="item">
      <div class="imagen-container">
        <a href="/sobremesa"
          ><img src="../../../assets/img/icons/keyboard.svg" alt="Teclados"
        /></a>
      </div>
    </div>
    <div class="item">
      <div class="imagen-container">
        <a href="/sobremesa"
          ><img src="../../../assets/img/icons/mouse.svg" alt="Ratones"
        /></a>
      </div>
    </div>
    <div class="item">
      <div class="imagen-container">
        <a href="/sobremesa"
          ><img src="../../../assets/img/icons/mic.svg" alt="Microfonos"
        /></a>
      </div>
    </div>
  </section>
</section>
<section class="section">
  <h4>Electrónica</h4>
  <section class="section-grid videojuegos">
    <div class="item">
      <div class="imagen-container">
        <a href="/smartphone"
          ><img src="../../../assets/img/icons/smartphone.svg" alt="smartphone"
        /></a>
      </div>
    </div>
    <div class="item">
      <div class="imagen-container">
        <a href="/smartphone"
          ><img src="../../../assets/img/icons/tablet.svg" alt="Tablets"
        /></a>
      </div>
    </div>
    <div class="item">
      <div class="imagen-container">
        <a href="/smartphone"
          ><img src="../../../assets/img/icons/watch.svg" alt="Relojes"
        /></a>
      </div>
    </div>
    <div class="item">
      <div class="imagen-container">
        <a href="/smartphone"
          ><img src="../../../assets/img/icons/headphone.svg" alt="headphone"
        /></a>
      </div>
    </div>
    <div class="item">
      <div class="imagen-container">
        <a href="/smartphone"
          ><img src="../../../assets/img/icons/drone.svg" alt="Drones"
        /></a>
      </div>
    </div>
  </section>
</section>
