<nav>
  <div class="boton">
    <ul class="menu">
      <li class="seccion">
        <a href="">VideoJuegos</a>
        <ul class="dropdown">
          <li><a href="">PS5</a></li>
          <li><a href="">Xbox One</a></li>
          <li><a href="">Nintendo Switch</a></li>
          <li><a href="">PC MasterRace</a></li>
        </ul>
      </li>
      <li class="seccion">
        <a href="">Consolas</a>
        <ul class="dropdown">
          <li><a href="">PlayStation</a></li>
          <li><a href="">Xbox</a></li>
          <li><a href="">Nintendo</a></li>
          <li><a href="">Retro</a></li>
        </ul>
      </li>
      <li class="seccion">
        <a href="">PC</a>
        <ul class="dropdown">
          <li><a href="">Sobremesas</a></li>
          <li><a href="">Portatiles</a></li>
          <li><a href="">Sillas Gaming</a></li>
          <li><a href="">Monitores</a></li>
          <li><a href="">Teclados</a></li>
          <li><a href="">Ratones</a></li>
          <li><a href="">Microfonos</a></li>
        </ul>
      </li>
      <li class="seccion">
        <a href="">Electrónica</a>
        <ul class="dropdown">
          <li><a href="">SmartPhones</a></li>
          <li><a href="">Tablets</a></li>
          <li><a href="">Relojes</a></li>
          <li><a href="">Auriculares</a></li>
          <li><a href="">Drones</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="right">
    <div class="search">
      <a href=""><i class="bi bi-search"></i></a>
      <input type="text" placeholder="Search..." />
    </div>
    <div class="iconos">
      <a href=""><i class="bi bi-person-fill"></i></a>
      <a href=""><i class="bi bi-bag-fill"></i></a>
    </div>
  </div>
</nav>
