<nav>
  <div class="boton">
    <ul class="menu">
      <li class="seccion">
        <a href="/videojuegos">VideoJuegos</a>
        <ul class="dropdown">
          <li><a href="/ps5">PS5</a></li>
          <li><a href="/ps5">Xbox One</a></li>
          <li><a href="/ps5">Nintendo Switch</a></li>
          <li><a href="/ps5">PC MasterRace</a></li>
        </ul>
      </li>
      <li class="seccion">
        <a href="/consolas">Consolas</a>
        <ul class="dropdown">
          <li><a href="/playstation">PlayStation</a></li>
          <li><a href="/playstation">Xbox</a></li>
          <li><a href="/playstation">Nintendo</a></li>
          <li><a href="/playstation">Retro</a></li>
        </ul>
      </li>
      <li class="seccion">
        <a href="/pc">PC</a>
        <ul class="dropdown">
          <li><a href="/sobremesa">Sobremesas</a></li>
          <li><a href="/sobremesa">Portatiles</a></li>
          <li><a href="/sobremesa">Sillas Gaming</a></li>
          <li><a href="/sobremesa">Monitores</a></li>
          <li><a href="/sobremesa">Teclados</a></li>
          <li><a href="/sobremesa">Ratones</a></li>
          <li><a href="/sobremesa">Microfonos</a></li>
        </ul>
      </li>
      <li class="seccion">
        <a href="/electronica">Electrónica</a>
        <ul class="dropdown">
          <li><a href="/smartphone">SmartPhones</a></li>
          <li><a href="/smartphone">Tablets</a></li>
          <li><a href="/smartphone">Relojes</a></li>
          <li><a href="/smartphone">Auriculares</a></li>
          <li><a href="/smartphone">Drones</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="right">
    <div class="search">
      <a href=""><i class="bi bi-search"></i></a>
      <input type="text" placeholder="Search..." />
    </div>
    <div class="iconos">
      <a href=""><i class="bi bi-person-fill"></i></a>
      <a href=""><i class="bi bi-bag-fill"></i></a>
    </div>
  </div>
</nav>

<div class="menu-mobile">
  <i class="bi bi-list burger-menu"></i>
  <nav class="nav-mobile">
    <div class="nav-dropdown">
      <ul class="menu">
        <li class="seccion">
          <a href="/videojuegos">VideoJuegos</a>
          <ul class="dropdown">
            <li><a href="/ps5">PS5</a></li>
            <li><a href="">Xbox One</a></li>
            <li><a href="">Nintendo Switch</a></li>
            <li><a href="">PC MasterRace</a></li>
          </ul>
        </li>
        <li class="seccion">
          <a href="/consolas">Consolas</a>
          <ul class="dropdown">
            <li><a href="/playstation">PlayStation</a></li>
            <li><a href="">Xbox</a></li>
            <li><a href="">Nintendo</a></li>
            <li><a href="">Retro</a></li>
          </ul>
        </li>
        <li class="seccion">
          <a href="/pc">PC</a>
          <ul class="dropdown">
            <li><a href="/sobremesa">Sobremesas</a></li>
            <li><a href="">Portatiles</a></li>
            <li><a href="">Sillas Gaming</a></li>
            <li><a href="">Monitores</a></li>
            <li><a href="">Teclados</a></li>
            <li><a href="">Ratones</a></li>
            <li><a href="">Microfonos</a></li>
          </ul>
        </li>
        <li class="seccion">
          <a href="/electronica">Electrónica</a>
          <ul class="dropdown">
            <li><a href="/smartphone">SmartPhones</a></li>
            <li><a href="">Tablets</a></li>
            <li><a href="">Relojes</a></li>
            <li><a href="">Auriculares</a></li>
            <li><a href="">Drones</a></li>
          </ul>
        </li>
      </ul>

      <div class="right">
        <div class="search">
          <a href=""><i class="bi bi-search"></i></a>
          <input type="text" placeholder="Search..." />
        </div>
        <div class="iconos">
          <a href=""><i class="bi bi-person-fill"></i></a>
          <a href=""><i class="bi bi-bag-fill"></i></a>
        </div>
      </div>
    </div>
  </nav>
</div>
