nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
}

.menu {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding: 0;
  font-weight: 600;
  & a {
    text-decoration: none;
    color: var(--ghost-white);
  }
}

.iconos {
  display: flex;
  gap: 1rem;
  font-size: 25px;
  align-items: center;

  & a {
    color: var(--ghost-white);
  }

  & a:hover {
    color: var(--tomato);
  }
}

.search {
  display: flex;
  gap: 1rem;
  position: relative;

  & input {
    border: 0;
    border-radius: 5px;
    padding: 5px 5rem;
  }

  & input::content {
    padding-left: 2rem;
    outline: 0;
  }

  & a {
    position: absolute;
    left: 5px;
    top: 2px;
    font-size: 20px;
    color: var(--rich-black);
  }
}

.right {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.dropdown {
  display: none;
  flex-direction: column;
  margin-top: 1rem;
  list-style: none;
  position: absolute;
  background-color: var(--ghost-white);
  padding: 1rem;
  width: 12rem;
  z-index: 5;
  border-radius: 5px;
  top: 7px;
  text-wrap: nowrap;
  gap: 0.5rem;
}

.dropdown a {
  color: var(--rich-black);
}

.seccion {
  position: relative;
}

.seccion a:hover {
  color: var(--tomato);
}

.seccion:hover .dropdown {
  display: flex;
}

.dropdown a:hover {
  margin-left: 1rem;
  color: var(--tomato);
}

.menu-m {
  color: var(--ghost-white);
  display: none;
}

.nav-mobile {
  display: none;
}

.burger-menu {
  display: none;
}



@media (width < 1280px) {
  nav {
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
}

@media (width < 675px) {
  .burger-menu {
    display: block;
  }
  .menu-mobile:hover .nav-mobile {
    display: flex;
  }

  .nav-mobile {
    display: none;
    background-color: var(--tomato);
    height: 35rem;
    align-items: start;
    justify-content: start;
    padding: 2rem;
  }
  .menu-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .burger-menu {
    margin: 0 auto;
    font-size: 40px;
    text-decoration: none;
    color: var(--ghost-white);
    cursor: pointer;
  }

  .seccion a:hover {
    color: var(--rich-black);
  }

  .right {
    flex-direction: column;
    align-items: start;
  }

  .iconos {
    display: flex;
  }

  .nav-dropdown {
    display: flex;
    flex-direction: column-reverse;
    gap: 3rem;
  }

  .menu {
    flex-direction: column;
  }

  .dropdown {
    top: -2rem;
    left: 10rem;
  }

  nav {
    display: none;
  }

  .iconos a:hover {
    color: var(--rich-black);
  }
}
