.producto,
.info {
  padding: 3rem;
  background-color: var(--tomato);
  border-radius: 15px;
  width: 100%;

}

.imagen {
  width: 100%;
  height: 600px;
  aspect-ratio: 1/2;
  overflow: hidden;
  border-radius: 15px;
  margin: 0 auto;
}

.imagen img {
  object-fit: cover;
  width: auto;
  height: 100%;
  object-position: center;
}

.info-producto {
  display: flex;
  margin: 2rem;
  gap: 1rem;
}
